<div class="row">
    <div class="col-md-6">
      <a routerLink="/miMuro" href="#" class="btn btn-link">
        <i class="fa fa-arrow-circle-o-left"></i> Regresar
      </a>
    </div>
    <div class="col-md-6"></div>
  </div>
  
  <div class="card">
    <div class="card-header">
      Nuevo Reto
    </div>
    <div class="card-body">
      <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
          <label for="retadorNombre">Retador</label>
          <input type="text" class="form-control" id="retadorNombre" [(ngModel)]="reto.retadorNombre" name="retadorNombre" readonly="readonly" required>
        </div>
        <div class="form-group">
          <label for="retado">Reta a</label>
          <select class="form-control" id="retado" [(ngModel)]="reto.retado" name="retado">
              <option value="">Selecciona a tu contrincante</option>
              <option *ngFor="let jugador of jugadores" [value]="jugador.email">{{jugador.nombre}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="difPuestos">Diferencia de Puestos</label>
          <input type="number" class="form-control" id="difPuestos" [(ngModel)] = "reto.difPuestos" name="difPuestos" readonly="readonly">
        </div>
        <div class="form-group">
          <label for="fecha">Fecha y Hora (AM/PM)</label>
          <input type="datetime-local" class="form-control" id="fecha" [(ngModel)]="reto.fecha" name="fecha">
        </div>
        <div class="form-group">
          <label for="Sede">Sede</label>
          <input type="text" class="form-control" id="sede" [(ngModel)]="reto.sede" name="sede" readonly="readonly">
        </div>
        <button type="submit" class="btn btn-success">Actualizar</button>
      </form>
    </div>
  </div>